In [1]:
import pandas as pd
import numpy as np
import glob

#### Import NFL BDB 2021 and NFL BDB 2021 Bonus data

In [4]:
players = pd.read_csv('nfl-big-data-bowl-2021/players.csv')
games = pd.read_csv('nfl-big-data-bowl-2021/games.csv')
plays = pd.read_csv('nfl-big-data-bowl-2021/plays.csv')
targetedReceiver = pd.read_csv('nfl-big-data-bowl-2021-bonus/targetedReceiver.csv')

extension = 'csv'
all_filenames = [i for i in glob.glob('nfl-big-data-bowl-2021/week*.{}'.format(extension))]
tracking = pd.concat([pd.read_csv(f) for f in all_filenames])

#### Import relative distance data

In [7]:
all_filenames1 = [i for i in glob.glob('additional_data/realtive_info/Relative_Info_Week*.{}'.format(extension))]
distances = pd.concat([pd.read_csv(f) for f in all_filenames1])
distances = distances.drop(columns='Unnamed: 0')

In [19]:
distances.shape

(17092915, 11)

In [30]:
tracking.head()

,time,x,y,s,a,dis,o,dir,event,nflId,displayName,jerseyNumber,position,frameId,team,gameId,playId,playDirection,route
0,2018-09-07T01:07:14.599Z,91.73,26.67,0.00,0.01,0.02,289.57,240.93,None,310.0,Matt Ryan,2.0,QB,1,away,2018090600,75,left,NaN
1,2018-09-07T01:07:14.599Z,88.89,36.47,0.01,0.01,0.01,105.63,66.66,None,79848.0,Malcolm Jenkins,27.0,SS,1,home,2018090600,75,left,NaN
2,2018-09-07T01:07:14.599Z,91.35,44.16,0.02,0.03,0.01,290.45,16.86,None,2495454.0,Julio Jones,11.0,WR,1,away,2018090600,75,left,HITCH
3,2018-09-07T01:07:14.599Z,86.31,22.01,0.09,0.42,0.01,70.12,168.91,None,2495613.0,Corey Graham,24.0,FS,1,home,2018090600,75,left,NaN
4,2018-09-07T01:07:14.599Z,90.78,36.15,0.00,0.00,0.00,257.61,193.97,None,2533040.0,Mohamed Sanu,12.0,WR,1,away,2018090600,75,left,HITCH

In [ ]:
tracking.shape

#### Get data at time of snap

In [31]:
tsnaps = tracking[tracking['event']=='ball_snap']
snaps = tsnaps[['gameId','playId','nflId','event','displayName','position','frameId','route']]

In [40]:
snaps.shape

(282543, 8)

#### Merge with targeted reciever

In [33]:
df1 = pd.merge(snaps, targetedReceiver, \
         how='inner', \
         left_on=['gameId','playId','nflId'], \
         right_on=['gameId','playId','targetNflId'])

In [38]:
df1.shape

(19196, 9)

#### Merge with distance info

In [42]:
finaldata = pd.merge(df1, distances, \
                     left_on=['gameId','playId','nflId','frameId'], \
                     right_on=['gameId','playId','nflId','frameId'])

In [43]:
finaldata.to_csv('boost_models/data/finaldata.csv')
print('Dataframe has been exported to finaldata.csv in boost_models>data')

Dataframe has been exported to finaldata.csv in boost_models>data